/* Table of contents - Designed by Rafał Ciećwierz - if you are reading this - have a nice day! :) */
/* 1.LOGO SECTION */
/* 2. First Section */
@import url('https://fonts.googleapis.com/css?family=Lato:700|Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}
h2{
  font-family: 'Lato', sans-serif;
}
.navbar_bg{
  background:rgba(256,256,256,0.9);
}
/* 1.LOGO SECTION */
.front_logo{
  background-image: url(../img/front_logo.jpeg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
.front-text {
  border-radius: 20px;
  background:rgba(1,1,1,0.5);
  text-align: center;

  color: white;
  padding: 20px;
  transition: background .35s ease-in-out;
}
.front-text:hover{
  background:rgba(1,1,1,0.55);
}
.front-text hr{
  border-color: white; margin: 1px 0 1px 0;
}
.front-text h1:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    transition: width 0.35s ease-in-out;
    padding-top: 5px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid white; /* This creates the border. Replace black with whatever color you want. */
}
.front-text:hover h1:after{
  width: 60%;
}
.front-text h1{
  font-size:  24px;
}
.front-text h3{
  font-size:  14px;
}


.scroll-bar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
/* SCROLL DOWN ICON ANIMATION */
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px black;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: black;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}


/* 2. First Section */
.card-box{
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  padding: 15px;
}
.card-box .card{
  position: relative;
  background: #000;
  overflow: hidden;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  transition: 0.5s;
}
.card-box .card:hover{
  transform: translateY(-10px);
  box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}
.card-box .card .img-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.card-box .card:hover .img-box{
  opacity: 0.7;
}
.card-box .card .img-box img{
}
.card-box .card .content{
  position: absolute;
  width: 100%;
  height:30%;
  bottom: -100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(0deg, #282F44, transparent);
  transition: 0.5s;
}
.card-box .card:hover .content{
  bottom: 0;
}
.card-box .card .content h2{
  margin: 20px 0;
  font-size: 14px;
  color: white;
}

.border-bot::after{
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  width: 10%; /* Change this to whatever width you want. */
  transition: width 0.35s ease-in-out;
  padding-top: 5px; /* This creates some space between the element and the border. */
  border-bottom: 5px solid #FF6663; /* This creates the border. Replace black with whatever color you want. */
  margin-bottom: 20px;
}
