/* Table of contents - Designed by Rafał Ciećwierz - if you are reading this - have a nice day! :) */
/* 0.LOGO SECTION */
/* 1. First Section- About Me */
/* 2. Second Section- Offer */
/* 3. Third Section - Contact */
/* 4. Footer  */

@import url("https://fonts.googleapis.com/css?family=Lato:700|Open+Sans:400,700");
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans", sans-serif;
}
h2 {
	font-family: "Lato", sans-serif;
}
.navbar_bg {
	--bg: rgba(256, 256, 256, 0);
	--text: #fff;
	--bg-menu: rgba(105, 151, 137, 0.95);
	padding: 5px 50px;
	color: var(--text);
	background: var(--bg);
	transition: all 0.7s ease;
}
.nav-link {
	margin-left: 5px;
	padding: 10px 15px !important;
	font-size: 18px;
	color: var(--text) !important;
	border-radius: 5px;
	transition: all 0.7s ease;
}
.nav-link:hover {
	/* background-color: rgba(255, 102, 99, 0.9); */
	background-color: #fff;
	text-decoration: underline;
	color: #ff6663 !important;
}

.active {
	font-weight: 700;
}

.navbar-brand {
	font-size: 24px;
	color: var(--text) !important;
	transition: all 0.7s ease;
}
.navbar_bg-scrolled {
	--bg: rgba(256, 256, 256, 1);
	--text: #000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/* TABLET WHEN HAMBURGER IS COIMING IN */
@media screen and (max-width: 991px) {
	.navbar-nav {
		margin-top: 5px;
		padding: 15px;
		border-radius: 10px;
		/* background-color: rgba(105, 151, 137, 0.95); */
		background-color: var(--bg-menu);
	}
	.navbar_bg-scrolled {
		--bg: rgba(256, 256, 256, 1);
		--text: #000;
		--bg-menu: transparent;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	}
}
/* PHONE OR LESS */
@media screen and (max-width: 576px) {
	.navbar_bg {
		padding: 20px;
	}
	.navbar-brand {
		font-size: 18px;
	}
	.nav-link {
		border-radius: 0;
		margin: 0;
	}
}
@media screen and (max-width: 400px) {
	.navbar-brand {
		font-size: 16px;
	}
}

/* HAMBURGER */
.icon-bar {
	width: 24px;
	height: 3px;
	background-color: var(--text);
	display: block;
	transition: all 0.2s;
	margin-top: 5px;
	transition: all 0.7s ease;
}

.navbar-toggler {
	border: none;
	background: transparent !important;
}

.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 0% 0%;
}
.navbar-toggler .middle-bar {
	opacity: 0;
}
.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 0% 90%;
}
.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}

strong {
	transition: 0.5s;
}
strong:hover {
	color: #ff6663;
}

/* 0.LOGO SECTION */
.front_logo {
	background-image: linear-gradient(
			to right,
			rgba(105, 151, 137, 0.8),
			rgba(82, 115, 115, 0.8)
		),
		url(../img/front_logo.jpeg);
	height: 105vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}
.front-text {
	border-radius: 20px;
	background: rgba(1, 1, 1, 0.7);
	text-align: center;
	margin: 0 15px;
	color: white;
	padding: 30px;
	box-shadow: 20px 20px 40px rgba(1, 1, 1, 0.3);
	transition: background 0.35s ease-in-out;
}
.front-text:hover {
	background: rgba(16, 24, 15, 0.7);
}
.front-text hr {
	border-color: white;
	margin: 1px 0 1px 0;
}
.front-text h1:after {
	content: ""; /* This is necessary for the pseudo element to work. */
	display: block; /* This will put the pseudo element on its own line. */
	margin: 0 auto; /* This will center the border. */
	width: 50%; /* Change this to whatever width you want. */
	transition: width 0.35s ease-in-out;
	padding-top: 15px; /* This creates some space between the element and the border. */
	border-bottom: 1px solid white; /* This creates the border. Replace black with whatever color you want. */
}
.front-text:hover h1:after {
	width: 60%;
}
.front-text h1 {
	font-size: 36px;
}
.front-text h3 {
	font-size: 16px;
}

@media screen and (max-width: 400px) {
	.front-text h1 {
		font-size: 24px;
	}
}
@media (max-width: 900px) and (orientation: landscape) {
	.front-text {
		margin-top: 100px;
	}
	.front-text h1 {
		font-size: 16px;
	}
}

/* SCROLL DOWN ICON ANIMATION */
.icon-box {
	position: relative;
	height: 100px;
}

.icon-scroll,
.icon-scroll:before {
	position: absolute;
	left: 50%;
}
.icon-scroll {
	width: 40px;
	height: 70px;
	margin-left: -20px;
	top: 50%;
	margin-top: -35px;
	box-shadow: inset 0 0 0 1px black;
	border-radius: 25px;
}
.icon-scroll:before {
	content: "";
	width: 8px;
	height: 8px;
	background: black;
	margin-left: -4px;
	top: 8px;
	border-radius: 4px;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: scroll;
	animation-name: scroll;
}
@-webkit-keyframes scroll {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(46px);
		transform: translateY(46px);
	}
}
@keyframes scroll {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(46px);
		transform: translateY(46px);
	}
}

/* HEADINGS */

.heading {
	font-size: 48px;
}

/* 1. First Section */
.about-section {
	padding-top: 80px;
	background-color: #f2f2f2;
}

.card-box {
	margin-top: 20px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	padding: 15px;
}
.card-box .card {
	position: relative;
	background: #000;
	overflow: hidden;
	width: 200px;
	height: 300px;
	border-radius: 10px;
	transition: 0.5s;
}
.card-box .card:hover {
	transform: translateY(-10px);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.card-box .card .img-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
.card-box .card:hover .img-box {
	opacity: 0.7;
}

.card-box .card .content {
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: -100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	background: linear-gradient(0deg, #282f44, transparent);
	transition: 0.5s;
}
.card-box .card:hover .content {
	bottom: 0;
}
.card-box .card .content h2 {
	margin: 20px 0;
	font-size: 14px;
	color: white;
}

.border-bot::after {
	content: ""; /* This is necessary for the pseudo element to work. */
	display: block; /* This will put the pseudo element on its own line. */
	width: 35px; /* Change this to whatever width you want. */
	transition: width 0.35s ease-in-out;
	padding-top: 5px; /* This creates some space between the element and the border. */
	border-bottom: 4px solid #ff6663; /* This creates the border. Replace black with whatever color you want. */
	margin-bottom: 20px;
}

/* 2. Second Section- Offer */
.section_offer {
	padding-top: 80px;
}

.timeline {
	box-sizing: border-box;
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: "";
	position: absolute;
	width: 5px;
	background-color: #ff6663;
	top: 0;
	bottom: 0;
	left: 50%;
}
/* Box for content */
.container-box {
	padding: 10px 40px;
	position: relative;
	background-color: #fff;
	width: 50%;
	transition: 0.5s;
}
.content {
	padding: 10px 10px;
	border-radius: 5px;
}
.content h4 {
	padding-bottom: 20px;
}

/* Place the container to the left */
.left {
	left: 0;
	border-left: 8px solid #ebf4f1;
}
/* Place the container to the right */
.right {
	left: 50%;
	border-right: 8px solid #ebf4f1;
}
/* Fix the circle for containers on the right side */
.right::after {
	left: -39px;
}
.timeline i {
	color: #ff6663;
	position: absolute;
	font-size: 32px;
	left: 15px;
	top: 15px;
	z-index: 4;
	transition: 0.5s;
}
.timeline .timeline-image-l {
	position: absolute;
	z-index: 1;
	right: -32px;
	width: 60px;
	height: 60px;
	color: white;
	border-radius: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.timeline .timeline-image-r {
	position: absolute;
	z-index: 1;
	left: -29px;
	width: 60px;
	height: 60px;
	color: white;
	background-color: #fff;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.timeline .stroke {
	z-index: 3;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 4px solid #ff6663;
	border-radius: 50%;
	transition: 0.5s;
}
.timeline .fill {
	z-index: 2;
	width: 0%;
	height: 0%;
	border-radius: 50%;
	background-color: #ff6663;
	transition: 0.5s;
}

/* Animation for container-box */

.container-box:hover {
	background-color: #f5f9f8;
}
.container-box:hover .fill {
	width: 100%;
	height: 100%;
}
.container-box:hover .stroke {
	border: 4px solid white;
}
.container-box:hover i {
	color: white;
}

/* Media queries - Responsive timeline on screens less than 800px wide */
@media screen and (max-width: 800px) {
	/* Place the timelime to the left */
	.timeline::after {
		left: 31px;
	}
	/* Full-width containers */
	.container-box {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
		border: 0px;
	}

	/* Make all right containers behave like the left ones */
	.right {
		left: 0%;
	}
	.timeline-image-l {
		left: 3px;
	}
	.timeline-image-r {
		left: 3px !important;
	}
}

/* 3. Third Section - Contact */

.contact-section {
	padding: 80px 0;
	background-color: #f2f2f2;
}

.contact-box {
	border-radius: 20px;
	padding: 20px;
	background-color: #fff;
	margin-top: 40px;
	overflow: hidden;
	box-shadow: 10px 10px 20px rgba(1, 1, 1, 0.2);
}

.contact-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding: 10px 20px;
}

.contact-tel-box {
	position: relative;
	display: inline-block;
	border-radius: 30px;
	overflow: hidden;
	padding: 10px 15px;
	color: #000;
	border: 2px solid #ff6663;
	transition: background ease 0.5s;
}
.contact-icon {
	top: 50%;
	position: absolute;
	transform: translateX(40px) translateY(-50%);
	color: white;
	transition: all ease 0.5s;
}
.contact-tel,
.contact-tel:link,
.contact-tel:visited {
	padding-right: 0px;
	text-decoration: none;
	color: inherit;
	transition: all ease 0.5s;
}

.contact-tel-box:hover {
	background-color: #ff6663;
}

.contact-tel-box:hover > .contact-icon {
	transform: translateX(-20px) translateY(-50%);
}
.contact-tel-box:hover > .contact-tel {
	padding-right: 30px;
	color: white;
}
@media screen and (max-width: 400px) {
	.contact-tel-box {
		font-size: 12px;
		padding: 8px;
	}
}

.map-container {
	height: 0;
	overflow: hidden;
	padding-bottom: 260px;
	border-radius: 20px;
	position: relative;
	z-index: 1;
}

.map {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
}

@media screen and (max-width: 800px) {
	.map-container {
		padding-bottom: 150px;
	}
}

/* 4. Footer  */

.footer {
	background-color: #333;
	height: 120px;
	display: flex;
	color: #ccc;
	align-items: center;
	justify-items: center;
	text-align: center;
}
